<!DOCTYPE html>
<html class="theme-next mist use-motion">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=0.5.0">
    <meta name="description" content="{{meta_description}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{@blog.title}}">
    <meta property="og:url" content="http://wuchong.me/index.html">
    <meta property="og:site_name" content="{{@blog.title}}">
    <meta property="og:description" content="{{meta_description}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{@blog.title}}">
    <meta name="twitter:description" content="{{meta_description}}">
    <title>{{meta_title}}</title>

    <!-- Style Sheet-->
    <link href="{{asset "vendors/fancybox/jquery.fancybox.css"}}" rel="stylesheet" type="text/css">
    <link href="{{asset "vendors/font-awesome/css/font-awesome.min.css"}}" rel="stylesheet" type="text/css">
    <link href="{{asset "css/main.css"}}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{asset "js/jquery.min.js"}}"></script>
    <!-- End Style-->
    <!--
    <style type="text/css">.MathJax_Preview {color: #888}
#MathJax_Message {position: fixed; left: 1em; bottom: 1.5em; background-color: #E6E6E6; border: 1px solid #959595; margin: 0px; padding: 2px 8px; z-index: 102; color: black; font-size: 80%; width: auto; white-space: nowrap}
#MathJax_MSIE_Frame {position: absolute; top: 0; left: 0; width: 0px; z-index: 101; border: 0px; margin: 0px; padding: 0px}
.MathJax_Error {color: #CC0000; font-style: italic}
</style><style type="text/css">.MathJax_Hover_Frame {border-radius: .25em; -webkit-border-radius: .25em; -moz-border-radius: .25em; -khtml-border-radius: .25em; box-shadow: 0px 0px 15px #83A; -webkit-box-shadow: 0px 0px 15px #83A; -moz-box-shadow: 0px 0px 15px #83A; -khtml-box-shadow: 0px 0px 15px #83A; border: 1px solid #A6D ! important; display: inline-block; position: absolute}
.MathJax_Hover_Arrow {position: absolute; width: 15px; height: 11px; cursor: pointer}
</style>
    <style type="text/css">#MathJax_Zoom {position: absolute; background-color: #F0F0F0; overflow: auto; display: block; z-index: 301; padding: .5em; border: 1px solid black; margin: 0; font-weight: normal; font-style: normal; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; box-shadow: 5px 5px 15px #AAAAAA; -webkit-box-shadow: 5px 5px 15px #AAAAAA; -moz-box-shadow: 5px 5px 15px #AAAAAA; -khtml-box-shadow: 5px 5px 15px #AAAAAA; filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true')}
#MathJax_ZoomOverlay {position: absolute; left: 0; top: 0; z-index: 300; display: inline-block; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; background-color: white; opacity: 0; filter: alpha(opacity=0)}
#MathJax_ZoomFrame {position: relative; display: inline-block; height: 0; width: 0}
#MathJax_ZoomEventTrap {position: absolute; left: 0; top: 0; z-index: 302; display: inline-block; border: 0; padding: 0; margin: 0; background-color: white; opacity: 0; filter: alpha(opacity=0)}
</style>
    <style type="text/css">#MathJax_About {position: fixed; left: 50%; width: auto; text-align: center; border: 3px outset; padding: 1em 2em; background-color: #DDDDDD; color: black; cursor: default; font-family: message-box; font-size: 120%; font-style: normal; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; z-index: 201; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; -khtml-border-radius: 15px; box-shadow: 0px 10px 20px #808080; -webkit-box-shadow: 0px 10px 20px #808080; -moz-box-shadow: 0px 10px 20px #808080; -khtml-box-shadow: 0px 10px 20px #808080; filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true')}
.MathJax_Menu {position: absolute; background-color: white; color: black; width: auto; padding: 5px 0px; border: 1px solid #CCCCCC; margin: 0; cursor: default; font: menu; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; z-index: 201; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; box-shadow: 0px 10px 20px #808080; -webkit-box-shadow: 0px 10px 20px #808080; -moz-box-shadow: 0px 10px 20px #808080; -khtml-box-shadow: 0px 10px 20px #808080; filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true')}
.MathJax_MenuItem {padding: 1px 2em; background: transparent}
.MathJax_MenuArrow {position: absolute; right: .5em; color: #666666}
.MathJax_MenuActive .MathJax_MenuArrow {color: white}
.MathJax_MenuArrow.RTL {left: .5em; right: auto}
.MathJax_MenuCheck {position: absolute; left: .7em}
.MathJax_MenuCheck.RTL {right: .7em; left: auto}
.MathJax_MenuRadioCheck {position: absolute; left: .7em}
.MathJax_MenuRadioCheck.RTL {right: .7em; left: auto}
.MathJax_MenuLabel {padding: 1px 2em 3px 1.33em; font-style: italic}
.MathJax_MenuRule {border-top: 1px solid #DDDDDD; margin: 4px 3px}
.MathJax_MenuDisabled {color: GrayText}
.MathJax_MenuActive {background-color: #606872; color: white}
.MathJax_Menu_Close {position: absolute; width: 31px; height: 31px; top: -15px; left: -15px}
</style>-->
    <style type="text/css">.fancybox-margin{margin-right:15px;}</style>
    <link type="text/css" rel="stylesheet" href="http://static.duoshuo.com/styles/embed.default.css?9b2a46a0.css">
    <link rel="stylesheet" type="text/css" href="//s.swiftypecdn.com/assets/new_embed-508e52cea43e0f8f7a362d4cde82d416.css">
    <style type="text/css">.st-install-8Exkz7xsCTJyyCHiK9TY .st-ui-result .st-ui-type-heading { color:#0089d7 !important }
    .st-install-8Exkz7xsCTJyyCHiK9TY .st-ui-result em {font-style:normal; font-weight:bold; background-color:#f6fcfe !important}
    </style>
    {{ghost_head}}
    <script type="text/javascript" id="hexo.configuration">
        var NexT = window.NexT || {};
        var CONFIG = {
            scheme: 'Mist',
            sidebar: {"position":"left","display":"post"},
            fancybox: true,
            motion: true,
            duoshuo: {
                userId: 4141040,
                author: '{{author}}'
            }
        };
    </script>

</head>



<body class="{{body_class}}">
<div id="MathJax_Message" style="display: none;"></div>
<div class="container one-collumn sidebar-position-left page-home">
<div class="headband"></div>
    <header id="header" class="header" itemscope="" itemtype="http://schema.org/WPHeader">
        <div class="header-inner"><div class="site-meta ">
            <div class="custom-logo-site-title">
                <a href="{{@blog.url}}" class="brand" rel="start" style="opacity: 1;">
                    <span class="logo-line-before"><i class="" style="transform: translateX(100%);"></i></span>
                    <span class="site-title" style="opacity: 1; top: 0px;">{{@blog.title}}</span>
                    <span class="logo-line-after"><i class="" style="transform: translateX(-100%);"></i></span>
                </a>
            </div>
        </div>
            <div class="site-nav-toggle">
                <button>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                </button>
            </div>
            <nav class="site-nav">
                {{navigation}}
                <div class="site-search">
                    <form class="site-search-form">
                        <input type="text" id="st-search-input" class="st-search-input st-default-search-input" autocomplete="off" autocorrect="off" autocapitalize="off">
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <main id="main" class="main">
        <div class="main-inner">
            {{{body}}}
        </div>
    </main>

    <footer id="footer" class="footer">
        <div class="footer-inner">
            <div class="ghost-footer">
                {{ghost_foot}}
            </div>
            <div class="powered-by">
                Powered&nbsp;by&nbsp;<a class="theme-link" href="http://ghost.org">Ghost</a>
            </div>
            <div class="theme-info">
                Theme&nbsp;-&nbsp;<a class="theme-link" href="https://github.com/microud/ghost-theme-next">NexT.Mist</a>
            </div>
        </div>
    </footer>
    <div class="back-to-top"></div>
</div>


<script type="text/javascript">
    if (Object.prototype.toString.call(window.Promise) !== '[object Function]') {
        window.Promise = null;
    }
</script>


<script type="text/javascript" src="{{asset "vendors/velocity/velocity.min.js"}}"></script>
<script type="text/javascript" src="{{asset "vendors/velocity/velocity.ui.min.js"}}"></script>
<script type="text/javascript" src="{{asset "vendors/fastclick/lib/fastclick.min.js"}}"></script>
<script type="text/javascript" src="{{asset "vendors/jquery_lazyload/jquery.lazyload.js"}}"></script>
<script type="text/javascript" src="{{asset "vendors/fancybox/jquery.fancybox.pack.js"}}"></script>
<script type="text/javascript" src="{{asset "vendors/ua-parser-js/ua-parser.pack.js"}}"></script>

<script type="text/javascript" src="{{asset "js/motion.js"}}"></script>
<script type="text/javascript" src="{{asset "js/utils.js"}}"></script>
<script type="text/javascript" src="{{asset "js/affix.js"}}"></script>
<script type="text/javascript" src="{{asset "js/post-details.js"}}"></script>
<script type="text/javascript" src="{{asset "js/scrollspy.js"}}"></script>

<script type="text/javascript" src="{{asset "js/bootstrap.js"}}"></script>

<script>
    function showTime(Counter) {
        var query = new AV.Query(Counter);
        var entries = [];
        var $visitors = $(".leancloud_visitors");

        $visitors.each(function () {
            entries.push( $(this).attr("id").trim() );
        });

        query.containedIn('url', entries);
        query.find()
                .done(function (results) {
                    var COUNT_CONTAINER_REF = '.leancloud-visitors-count';

                    if (results.length === 0) {
                        $visitors.find(COUNT_CONTAINER_REF).text(0);
                        return;
                    }

                    for (var i = 0; i < results.length; i++) {
                        var item = results[i];
                        var url = item.get('url');
                        var time = item.get('time');
                        var element = document.getElementById(url);

                        $(element).find(COUNT_CONTAINER_REF).text(time);
                    }
                })
                .fail(function (object, error) {
                    console.log("Error: " + error.code + " " + error.message);
                });
    }

    function addCount(Counter) {
        var $visitors = $(".leancloud_visitors");
        var url = $visitors.attr('id').trim();
        var title = $visitors.attr('data-flag-title').trim();
        var query = new AV.Query(Counter);

        query.equalTo("url", url);
        query.find({
            success: function(results) {
                if (results.length > 0) {
                    var counter = results[0];
                    counter.fetchWhenSave(true);
                    counter.increment("time");
                    counter.save(null, {
                        success: function(counter) {
                            var $element = $(document.getElementById(url));
                            $element.find('.leancloud-visitors-count').text(counter.get('time'));
                        },
                        error: function(counter, error) {
                            console.log('Failed to save Visitor num, with error message: ' + error.message);
                        }
                    });
                } else {
                    var newcounter = new Counter();
                    newcounter.set("title", title);
                    newcounter.set("url", url);
                    newcounter.set("time", 1);
                    newcounter.save(null, {
                        success: function(newcounter) {
                            var $element = $(document.getElementById(url));
                            $element.find('.leancloud-visitors-count').text(newcounter.get('time'));
                        },
                        error: function(newcounter, error) {
                            console.log('Failed to create');
                        }
                    });
                }
            },
            error: function(error) {
                console.log('Error:' + error.code + " " + error.message);
            }
        });
    }

    $(function() {
        var Counter = AV.Object.extend("Counter");
        if ($('.leancloud_visitors').length == 1) {
            addCount(Counter);
        } else if ($('.post-title-link').length > 1) {
            showTime(Counter);
        }
    });
</script>

</body>
</html>