{{!< default}}
 <div class="content-wrap">
     <div id="content" class="content">
         <section id="posts" class="posts-expand">
             {{#foreach posts}}
                 <article class="post posts-type-normal">
                     <header class="post-header">
                         <h1 class="post-title" itemprop="name headline">
                             <a class="post-title-link" href="{{url}}">{{{title}}}</a>
                         </h1>
                         <div class="post-meta">
                             <span class="post-time">
                                 <span class="post-meta-item-icon"><i class="fa fa-calendar-o"></i></span>
                                 <span class="post-meta-item-text">发表于</span>
                                 <time>{{date format='YYYY-MM-DD'}}</time>
                             </span>
                             <span class="post-category">&nbsp; | &nbsp;
                                 <span class="post-meta-item-icon"><i class="fa fa-folder-o"></i></span>
                                 <span class="post-meta-item-text">标签</span>
                                 <span itemprop="about" itemscope="" itemtype="https://schema.org/Thing">
                                     {{#if tags}}
                                         {{tags}}
                                     {{/if}}
                                 </span>
                             </span>
                             <span class="post-comments-count">&nbsp; | &nbsp;
                                 <a href="{{url}}#comments" itemprop="discussionUrl">
                                     <span class="post-comments-count ds-thread-count" data-thread-key="{{id}}" itemprop="commentsCount"></span>
                                 </a>
                             </span>
                         </div>
                     </header>
                     <div class="post-body" itemprop="articleBody">
                         {{#if meta_description}}
                            {{meta_description}}
                         {{else}}
                            {{content words="32"}}
                         {{/if}}
                         <div class="post-more-link text-center">
                             <a class="btn" href="{{url}}" rel="contents">阅读全文 »</a>
                         </div>
                     </div>
                 </article>
             {{/foreach}}
         </section>
         {{pagination}}
     </div>
 </div>
 <div class="sidebar-toggle">
     <div class="sidebar-toggle-line-wrap">
         <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
         <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
         <span class="sidebar-toggle-line sidebar-toggle-line-last" ></span>
     </div>
 </div>
 <aside id="sidebar" class="sidebar" style="display: none; width: 320px;">
     <div class="sidebar-inner">
        {{> sidebar}}
     </div>
 </aside>
 <script type="text/javascript">
     $(".ds-thread-count").each(function(){
         var apiUrl = "http://api.duoshuo.com/threads/counts.jsonp?short_name=" + duoshuo_name + "&threads=" + $(this).attr("data-thread-key")  + "&callback=?";
         var currentObj = $(this);
         var test = $.getJSON(apiUrl, function(data){
             //console.log(data.response[0].comments);
             //console.log(currentObj);
             var id = currentObj.attr("data-thread-key");
             //console.log(id);
             var commentNumber = data.response[id].comments;
             //console.log(commentNumber);
             if(commentNumber == "0") {
                 $(currentObj).html("暂无评论");
             }else {
                 $(currentObj).html(commentNumber + "条评论")
             }
         });

         //console.log(test);



     });


 </script>