        <section class="site-overview sidebar-panel" style="display: block;">
            <div class="site-author motion-element" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                <img class="site-author-image" itemprop="image" src="{{@blog.cover_image}}" alt="{{@blog.title}}">
                <p class="site-author-name" id="site-author-name" itemprop="name"></p>
                <p class="site-description motion-element" itemprop="description" >{{@blog.description}}</p>
            </div>
            <nav class="site-state motion-element" >
                <div class="site-state-item site-state-posts">
                    <a href="/records">
                        <span class="site-state-item-count">
                            {{#get "posts"}}
                                {{pagination.total}}
                            {{/get}}
                        </span>
                        <span class="site-state-item-name">文章</span>
                    </a>
                </div>
                <!-- <div class="site-state-item site-state-categories">
      <a href="/categories">
        <span class="site-state-item-count">11</span>
        <span class="site-state-item-name">分类</span>
      </a>
    </div>-->
                <div class="site-state-item site-state-categories">
                    <a href="/tags">
                        <span class="site-state-item-count">
                            {{#get "tags"}}
                                {{pagination.total}}
                            {{/get}}
                        </span>
                        <span class="site-state-item-name">标签</span>
                    </a>
                </div>
                <!--
                <div class="site-state-item site-state-tags">
                    <a href="/tags">
                        <span class="site-state-item-count">62</span>
                        <span class="site-state-item-name">标签</span>
                    </a>
                </div>-->
            </nav>
            <div class="feed-link motion-element" >
                <a href="/rss" rel="alternate"><i class="fa fa-rss"></i>RSS</a>
            </div>
            <div class="links-of-author motion-element" >
            </div>
            <div class="links-of-author motion-element" id="site-links">
                <p class="site-author-name">友情链接</p>

                <!--友情链接位置，在后台修改head inject配置即可-->

            </div>
        </section>
<script>
    $("#site-author-name").html(author_name);
    var i = 0;
    for (i = 0; i < link_list.length; i++)
    {
        $("#site-links").html($("#site-links").html() + '<span class="links-of-author-item">' +
                '<a href="' + link_list[i].link + '" target="_blank">' +
                link_list[i].name +
                '</a></span>');
    }
</script>