<!DOCTYPE html>
<html class="theme-next mist use-motion">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=0.5.0">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{@blog.title}}">
    <meta property="og:url" content="{{@blog.url}}">
    <meta property="og:site_name" content="{{@blog.title}}">
    <meta property="og:description" content="{{meta_description}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{@blog.title}}">
    <meta name="twitter:description" content="{{meta_description}}">
    <title>{{meta_title}}</title>

    <!-- Style Sheet-->
    <link href="{{asset "vendors/fancybox/jquery.fancybox.css"}}" rel="stylesheet" type="text/css">
    <link href="{{asset "vendors/font-awesome/css/font-awesome.min.css"}}" rel="stylesheet" type="text/css">
    <link href="{{asset "css/main.css"}}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{asset "js/jquery.min.js"}}"></script>
    <!-- End Style-->
    <style type="text/css">.fancybox-margin{margin-right:15px;}</style>

    {{ghost_head}}
    <script type="text/javascript" id="hexo.configuration">
        var NexT = window.NexT || {};
        var CONFIG = {
            scheme: 'Mist',
            sidebar: {"position":"right","display":"post"},
            fancybox: true,
            motion: true //,
            // duoshuo: {
            //    userId: 4141040,
            //    author: ''
            //}
        };
    </script>

</head>

<body class="{{body_class}}">
<div class="container one-collumn sidebar-position-left page-home">
<div class="headband"></div>
    <header id="header" class="header" itemscope="" itemtype="http://schema.org/WPHeader">
        <div class="header-inner"><div class="site-meta ">
            <div class="custom-logo-site-title">
                <a href="{{@blog.url}}" class="brand" rel="start" >
                    <span class="logo-line-before "><i class=""></i></span>
                    <span class="site-title">{{@blog.title}}</span>
                    <span class="logo-line-after"><i class=""></i></span>
                </a>
            </div>
        </div>
            <div class="site-nav-toggle">
                <button>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                </button>
            </div>
            <nav class="site-nav">
                {{navigation}}
            </nav>
        </div>
    </header>
    <main id="main" class="main">
        <div class="main-inner ">
            {{{body}}}
        </div>
    </main>

    <footer id="footer" class="footer">
        <div class="footer-inner">
            <div class="ghost-footer">
                {{ghost_foot}}
            </div>
            <div class="powered-by">
                Powered&nbsp;by&nbsp;<a class="theme-link" href="http://ghost.org">Ghost</a>
            </div>
            <div class="theme-info">
                Theme&nbsp;-&nbsp;<a class="theme-link" href="https://github.com/microud/ghost-theme-next">NexT.Pisces</a>
            </div>
        </div>
    </footer>
    <div class="back-to-top">
        <i class="fa fa-arrow-up"></i>
    </div>
</div>

<script>
$("#search-input").keypress(function(key){
    if (key.keyCode == 13)
    {
        window.open("/search/?keyword=" + $(this).val(), "_blank");
    }

});
</script>
<script type="text/javascript" src="{{asset "vendors/velocity/velocity.min.js"}}"></script>
<script type="text/javascript" src="{{asset "vendors/velocity/velocity.ui.min.js"}}"></script>
<script type="text/javascript" src="{{asset "vendors/fastclick/lib/fastclick.min.js"}}"></script>
<script type="text/javascript" src="{{asset "vendors/jquery_lazyload/jquery.lazyload.js"}}"></script>
<script type="text/javascript" src="{{asset "vendors/fancybox/jquery.fancybox.pack.js"}}"></script>
<script type="text/javascript" src="{{asset "vendors/ua-parser-js/ua-parser.pack.js"}}"></script>

<script type="text/javascript" src="{{asset "js/motion.js"}}"></script>
<script type="text/javascript" src="{{asset "js/utils.js"}}"></script>
<script type="text/javascript" src="{{asset "js/affix.js"}}"></script>
<script type="text/javascript" src="{{asset "js/post-details.js"}}"></script>
<script type="text/javascript" src="{{asset "js/scrollspy.js"}}"></script>

<script type="text/javascript" src="{{asset "js/bootstrap.js"}}"></script>



</body>
</html>