{{!< default}}
{{#post}}
    <div class="content-wrap  page-post-detail">
        <div id="content" class="content">
            <div id="post" class="posts-expand fadeInDown">
                <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article">
                    <header class="post-header">
                        <h1 class="post-title" itemprop="name headline">{{title}}</h1>
                        <div class="post-meta">
                            <span class="post-time">
                                <span class="post-meta-item-icon"><i class="fa fa-calendar-o"></i></span>
                                <span class="post-meta-item-text">发表于</span>
                                <time itemprop="dateCreated">{{date format='YYYY-MM-DD'}}</time>
                            </span>
                            <span class="post-category">&nbsp; | &nbsp;
                                <span class="post-meta-item-icon">
                                    <i class="fa fa-folder-o"></i>
                                </span>
                                <span class="post-meta-item-text">标签</span>
                                <span itemprop="about" itemscope="" itemtype="https://schema.org/Thing">
                                    {{#if tags}}
                                        {{tags}}
                                    {{/if}}
                                </span>
                            </span>
                            <span class="post-comments-count">&nbsp; | &nbsp;
                                <a href="#comments" itemprop="discussionUrl">
                                    <span class="post-comments-count ds-thread-count" data-thread-key="" itemprop="commentsCount"></span>
                                </a>
                            </span>
                            <!--
             <span id="/blog/2016/05/09/flink-internals-understanding-execution-resources/" class="leancloud_visitors" data-flag-title="Flink 原理与实现：理解 Flink 中的计算资源">
               &nbsp; | &nbsp;
               <span class="post-meta-item-icon">
                 <i class="fa fa-eye"></i>
               </span>
               <span class="post-meta-item-text">阅读次数 </span>
               <span class="leancloud-visitors-count">173</span>
              </span> -->
                        </div>
                    </header>
                    <div class="post-body" itemprop="articleBody">
                        {{content}}
                    </div>

                </article>
            </div>
        </div>
        <div class="comments" id="comments">
            <!-- 页面绑定 - 请勿改动 -->
            <div class="ds-thread" data-thread-key="{{id}}" data-title="{{title}}" data-url="{{url absolute="true"}}"></div>
            <!-- 结束绑定 -->

            <!-- 用多说通用代码的<script></script>包裹部分替换到下面的脚本 -->
            <script type="text/javascript">
                /*    或者只替换下面的short_name为自己的    */
                var duoshuoQuery = {short_name:duoshuo_short};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 结束替换位置 -->

        </div>
    </div>
{{/post}}

<aside id="sidebar" class="sidebar page-post-detail" style="width: 240px; display: block">
    <div class="sidebar-inner affix-top">
        <ul class="sidebar-nav motion-element">
            <li class="sidebar-nav-toc sidebar-nav-active" data-target="post-toc-wrap">
                文章目录
            </li>
            <li class="sidebar-nav-overview" data-target="site-overview">
                站点概览
            </li>
        </ul>
        {{> sidebar}}
        <section class="post-toc-wrap motion-element sidebar-panel sidebar-panel-active">
            <div class="post-toc">
                <div class="post-toc-content"><ol class="nav" id="category_nav">
                </ol></div>
            </div>
        </section>
    </div>
</aside>
<script type="text/javascript">
    $(".site-overview").css("display","none");
    if ($("#content h2").length > 0) {
        $("#content h2").each(function () {
            $(this).attr("id", $(this).html().replace(/ +/g, '-').replace(/<(\/a|a).*>/g, ""));
            $("#category_nav").html($("#category_nav").html() + '<li class="nav-item nav-level-2"><a class="nav-link" href="#' + $(this).html().replace(/ +/g, '-').replace(/<(\/a|a).*>/g, "") + '"><span class="nav-text">' + $(this).html().replace(/<(\/a|a).*>/g, "") + '</span></a></li>');
        });
    } else {
        $("#category_nav").html($("#category_nav").html() + '<span class="nav-text">暂无目录</span>');
    }
</script>
